<div>
  <button [disabled]="!scoresService.buttonDisabled" (click)="newGame()">New Game</button>
  <h3>Score Log: </h3>
  <ul>
    <li *ngFor="let score of scoreHistory"> {{ score }} </li>
  </ul>
</div>