div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 3rem;
}

button {
  padding: 0.6rem;
  border: 1px solid tan;
}

button:hover {
  padding: 0.7rem;
}

li {
  font-size: 2rem;
}