<div>
  <button class="bowlButton" (click)="onClick()" 
    [disabled]="scoresService.buttonDisabled">Click to bowl</button>

  <h3 *ngIf="currentRoll >= 0"> You bowled a {{ currentRoll }} </h3>
</div>