* {
  box-sizing: border-box;
  font-size: 2rem;
}

#scoreboard {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8rem;
  height: 25rem;
  width: 30rem;
}

.frame {
  border: 1px solid black;
  display: flex;
  width: 24%;
  height: 24%;
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}

.rollHolder {
  border: 1px solid black;
  height: 50%;
  width: 50%;
  text-align: center;
}