<div id="scoreboard">
  <div class="frame">
    <div class="rollHolder"> {{ scoresService.scores[0] }} </div>
    <div class="rollHolder"> {{ scoresService.scores[1] }} </div>
  </div>
  <div class="frame">
    <div class="rollHolder"> {{ scoresService.scores[2] }} </div>
    <div class="rollHolder"> {{ scoresService.scores[3] }} </div>
  </div>
  <div class="frame">
    <div class="rollHolder"> {{ scoresService.scores[4] }} </div>
    <div class="rollHolder"> {{ scoresService.scores[5] }} </div>
  </div>
  <div class="frame">
    <div class="rollHolder"> {{ scoresService.scores[6] }} </div>
    <div class="rollHolder"> {{ scoresService.scores[7] }} </div>
  </div>
  <div class="frame">
    <div class="rollHolder"> {{ scoresService.scores[8] }} </div>
    <div class="rollHolder"> {{ scoresService.scores[9] }} </div>
  </div>
  <div class="frame">
    <div class="rollHolder"> {{ scoresService.scores[10] }} </div>
    <div class="rollHolder"> {{ scoresService.scores[11] }} </div>
  </div>
  <div class="frame">
    <div class="rollHolder"> {{ scoresService.scores[12] }} </div>
    <div class="rollHolder"> {{ scoresService.scores[13] }} </div>
  </div>
  <div class="frame">
    <div class="rollHolder"> {{ scoresService.scores[14] }} </div>
    <div class="rollHolder"> {{ scoresService.scores[15] }} </div>
  </div>
  <div class="frame">
    <div class="rollHolder"> {{ scoresService.scores[16] }} </div>
    <div class="rollHolder"> {{ scoresService.scores[17] }} </div>
  </div>
  <div class="frame">
    <div class="rollHolder"> {{ scoresService.scores[18] }} </div>
    <div class="rollHolder"> {{ scoresService.scores[19] }} </div>
    <div class="rollHolder"> {{ scoresService.scores[20] }} </div>
  </div>
  <div class="frame">
    <h2>Total:</h2>
    <h3> {{ total }} </h3>
  </div>
</div>